# App Settings
APP_PORT=:8080
APP_ENV=production

# Database Settings
SUPABASE_URL=postgresql://postgres.rlvcxjbhrgjzdoyadavg:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres

# JWT Secret (For signing tokens)
JWT_SECRET=YOUR_JWT_SECRET

# Redis Configuration
REDIS_URL=UPSTASH_REDIS_URL

# Storage Config (Supabase S3)
MINIO_ENDPOINT=rlvcxjbhrgjzdoyadavg.storage.supabase.co/storage/v1/s3
MINIO_ROOT_USER=YOUR_S3_ROOT_USER
MINIO_ROOT_PASSWORD=YOUR_S3_ROOT_PASSWORD
MINIO_BUCKET_NAME=qlass-bucket
MINIO_USE_SSL=true

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASSWORD