# App Settings
APP_PORT=:8080
APP_ENV=development

# Database Settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=qlass_root
DB_NAME=qlass_db
DB_SSLMODE=disable

# Database Password (Used by Docker & Go App)
DB_PASSWORD=

# PgAdmin Login (For accessing http://localhost:5050)
PGADMIN_EMAIL=admin@qlass.com
PGADMIN_PASSWORD=

# JWT Secret (For signing tokens)
JWT_SECRET=